@import url("https://fonts.googleapis.com/css?family=Raleway");
body, html {
  width: 100%;
  margin: 0;
  background: #73cebe;
  color: white;
  font-size: 130%; }
  body input, html input {
    font-size: 130%; }
  body button, html button {
    font-size: 130%; }

#root {
  background: #73cebe;
  color: white;
  font-family: 'Raleway', sans-serif; }

.center {
  display: flex;
  justify-content: center; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.w100 {
  width: 100%; }

.w-95 {
  width: 95px; }

.w-70 {
  width: 70px; }

.w-90 {
  width: 100px; }

.left-column {
  width: 200px; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animatedhover:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s; }

.temp-icon {
  width: 100px;
  height: 100px; }

#load {
  width: 60px;
  margin: 5px;
  animation: loading 3s linear infinite; }
  #load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 7;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: loading-circle 2s linear infinite;
    stroke: rgba(255, 255, 255, 0.6);
    fill: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -600; } }

.form {
  color: white;
  background: none;
  border: none;
  text-transform: uppercase; }
  .form.text {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid white;
    padding: 3px;
    padding-bottom: 10px; }
    .form.text:focus {
      outline: none;
      color: white; }
      .form.text:focus::placeholder {
        color: rgba(255, 255, 255, 0.5); }
    .form.text::placeholder {
      color: rgba(255, 255, 255, 0.3); }
  .form.button:focus {
    outline: 1px dotted black; }

.temperature {
  font-size: 200%; }
  .temperature > .deselected {
    color: rgba(255, 255, 255, 0.45); }
  .temperature.number {
    text-align: right;
    width: 75px; }

.results {
  min-width: 500px;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all .3s; }
  .results:hover {
    border-color: rgba(255, 255, 255, 0.9);
    padding-left: 15px; }

.summary.date {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  font-size: 80%; }

.summary.header {
  color: #403c3c;
  opacity: 0.5; }

.summary.subheader {
  color: #403c3c;
  opacity: 0.35; }

.summary.location {
  text-transform: capitalize; }

.weekly.day {
  font-size: 110%;
  letter-spacing: 1px; }

.weekly.date {
  font-size: 70%;
  color: rgba(255, 255, 255, 0.6); }

.weekly.icon {
  width: 50px;
  height: 50px; }

.weekly.max {
  font-size: 150%; }

.weekly.min {
  color: rgba(255, 255, 255, 0.6); }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

@media only screen and (max-width: 767px) {
  .summary.date {
    display: none; }
  .summary.header::before {
    content: "\A";
    white-space: pre; } }
